
@keyframes load {
    0%{
        opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
				filter: blur(5px);
				letter-spacing: 3px;
        }
    100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
        }
}

.animate {
	display:flex;
	justify-content: center;
	align-items: center;
  color: #fd7000;

	margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
	font-family: Helvetica, sans-serif, Arial;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
}


#text {
	position: absolute;
	margin-top: 20px;
	left: 50%;
	top: 30px;
	width: 100%;
	transform: translate(-50%, 0%);
	font-family: 'Oswald', arial;
	color: #ED002E;
	font-size: 50px;
	font-size: 5.5vw;
	text-align: center;
	white-space: nowrap;
  }
  
  #text span {
	color: rgb(129, 113, 113);
	font-size: 30px;
	font-size: 3.5vw;
  }