
  

  
  .contact-heading-div > * {
    flex: 1;
  }
  
  .address-heading-div > * {
    flex: 1;
  }
  
  .contact-heading-img-div {
    align-items: center;
    justify-content: center;
  }
  
  .blog-heading-img-div {
    align-items: center;
    justify-content: center;
  }
  
  .contact-heading-text-div {
    text-align: center;
  }
  
  .blog-heading-text-div {
    text-align: center;
    margin-right:110px;
  }
  
  .address-heading-text-div {
    text-align: center;
  }
  
  .contact-heading-img-div > * {
    max-width: 100%;
    height: auto;
  }
  
  .blog-heading-img-div > * {
    max-width: 100%;
    height: auto;
    margin-left: 100px;
  }
  
  .contact-heading-text {
    font-size: 56px;
    font-weight: 400;
    font-family: "Google Sans Medium";
    line-height: 1.1;
    text-align: center;
    margin-top: 60px;
  }
  
  .blog-heading-text {
    font-size: 56px;
    font-weight: 400;
    font-family: "Google Sans Medium";
    line-height: 1.1;
    text-align: center;
    margin-top: 40px;
    color: orange;
  }
  